<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${welcome}">thymeleaf</title>
	<script type="text/javascript"  th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<script th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>
<body th:inline="text">

<span th:text="${comment}" />

<div th:class="content">...</div>
<div th:class="内容">...</div>

<p>The year is <span th:text="2013">1492</span>.</p>
<p>In two years, it will be <span th:text="2013 + 2">1494</span>.</p>

1.<span th:text="|Welcome to our application, ${u.getName()}!|">ddddd</span><br/>
2.<span th:text="'Welcome to our application, ' + ${u.id} + '!'"></span><br/>
3.<span th:text="${onevar} + ' ' + |${twovar}, ${threevar}|"></span><br/>

<div th:if="${u.isAdmin()} == false"></div>
<div th:if="${u.isAdmin() == false}"></div>
<div th:if="${u != null}">333</div>

<span th:class="${title} ? 'green' :' red'">样例一</span>
<span th:class="${title1} ? 'green'">样例二</span>
<span th:class="${title2} ?: 'blue'">样例四</span>

<div>
	<ol>
		<li>+：1+1=<span th:text="1+1">1+1</span>.</li>
		<li>-： 2-1=<span th:text="2-1">2-1</span>.</li>
		<li>*：2*3=<span th:text="2*3">2*3</span>.</li>
		<li>/： 9/4=<span th:text="9/4">9/4</span>.</li>
		<li>%：9%4=<span th:text="9%4">9%4</span>.</li>
	</ol>
</div>

<div>
	<ol>
		<li th:inline="text">and：<span th:if="${!#lists.isEmpty(list)} and ${#lists.isEmpty(list)}" th:text="${!#lists.isEmpty(list)} and ${#lists.isEmpty(list)}">and</span>[[${!#lists.isEmpty(list)} and ${#lists.isEmpty(list)}]]</li>
		<li>or：<span  th:if="${!#lists.isEmpty(list)} or ${#lists.isEmpty(list)}" th:text="${!#lists.isEmpty(list)} or ${#lists.isEmpty(list)}">or</span></li>
		<li>!(not)：<span  th:if="${!#lists.isEmpty(list)}" th:text="${!#lists.isEmpty(list)}">not</span></li>
	</ol>
</div>

<div>
	<ol>
		<li>比较表达式：
			<ol>
				<li>>(gt)：<span th:text="1+1" th:if="${#lists.size(list)} > 1">大于></span>else</li>
				<li>小于lt：<span th:if="${#lists.size(list)} lt 1">小于</span>else</li>
				<li>>=(ge)：<span  th:if="${#lists.size(list)} >= 1">大于等于>=</span>else</li>
				<li>小于等于(le)：<span  th:if="${#lists.size(list)} le 1">小于等于</span>else</li>
				<li>!(not)：<span  th:if="${!#lists.isEmpty(list)}">!(not)</span>else</li>
			</ol>
		</li>
		<li>相等和不等表达式：
			<ol>
				<li>==(eq)：<span th:text="'Execution mode is ' + ( (${execMode} == 'dev')? 'Development' : 'Production')">等于==</span></li>
				<li>!=(ne/neq)：size:<span th:text="${#lists.size(list)}" th:if="${#lists.size(list)} != 1"></span></li>
			</ol>
		</li>
	</ol>
</div>

<p th:utext="${welcome}"></p>

<p th:text="|Welcome to our application, ${welcome}!|"></p>

<form action="subscribe.html" th:attr="action=@{/subscribe}">
	<fieldset>
		<input type="text" name="email" />
		<input type="submit" value="Subscribe me!" th:attr="value=${submit}"/>
	</fieldset>
</form>

<img src="../../images/gtvglogo.png"
	 th:attr="src=@{/images/gtvglogo.png},title=#{logo},alt=#{logo}" />

<input type="checkbox" name="active" th:checked="true" />

<input type="checkbox" name="noactive" th:checked="false" />

<div th:with="firstPer=${list[0]}">
	<p>The name of the first person is <span th:text="${firstPer.name}">Julius Caesar</span>.</p>
</div>

<sapn>
Order	Feature	Attributes
1	Fragment inclusion	th:include
th:replace
2	Fragment iteration	th:each
3	Conditional evaluation	th:if
th:unless
th:switch
th:case
4	Local variable definition	th:object
th:with
5	General attribute modification	th:attr
th:attrprepend
th:attrappend
6	Specific attribute modification	th:value, th:href, th:src, etc.
7	Text (tag body modification)	th:text
th:utext
8	Fragment specification	th:fragment
9	Fragment removal	th:remove
</sapn>

<ol>
	<li>List循环：
		<table border="1">
			<tr>
				<th>ID</th>
				<th>用户名1</th>
				<th>管理员</th>
				<th>状态变量：index</th>
				<th>状态变量：count</th>
				<th>状态变量：size</th>
				<th>状态变量：current.name</th>
				<th>状态变量：even</th>
				<th>状态变量：odd</th>
				<th>状态变量：first</th>
				<th>状态变量：last</th>
			</tr>
			<tr th:each="user,userStat : ${list}">
				<td th:text="${user.id}">123</td>
				<td th:text="${user.name}">test@test.com.cn</td>
				<td th:text="${user.admin}">yes</td>
				<th th:text="${userStat.index}">状态变量：index</th>
				<th th:text="${userStat.count}">状态变量：count</th>
				<th th:text="${userStat.size}">状态变量：size</th>
				<th th:text="${userStat.current.name}">状态变量：current</th>
				<th th:text="${userStat.even}">状态变量：even****</th>
				<th th:text="${userStat.odd}">状态变量：odd</th>
				<th th:text="${userStat.first}">状态变量：first</th>
				<th th:text="${userStat.last}">状态变量：last</th>
			</tr>
		</table>
	</li>
</ol>

	<div>
	<ol>
		<li><a th:href="@{/operator-page}" target="_blank">算术运算符</a></li>
		<li><a th:href="@{/operator-equal-page}" target="_blank">比较和相等运算符</a></li>
		<li><a th:href="@{/operator-boolean-page}" target="_blank">布尔运算符</a></li>
	</ol>

	<ol>
		<li>${title}：<span th:text = "${title}">title</span></li>
		<li>${session.sessionStr}：<span th:text = "${session.sessionStr}">sessionStr1</span></li>
		<li>${requestStr}：<span th:text = "${requestStr}">requestStr1</span></li>
		<li>${#httpServletRequest.getAttribute('requestStr')}：<span th:text = "${#httpServletRequest.getAttribute('requestStr')}">requestStr2</span></li>
		<li>${#vars[title]}：<span th:text = "${#vars[title]}">title</span></li>
		<li>${#vars.get('title')}：<span th:text = "${#vars.get('title')}">title</span></li>
		<li>${#vars.get('requestStr')}：<span th:text = "${#vars.get('requestStr')}">title</span></li>
		<li>${#vars.size()}：<span th:text = "${#vars.size()}">size</span></li>
		<li>${#ctx.variables[title]}：<span th:text = "${#ctx.variables[title]}">title</span></li>
		<li>${#ctx.variables.get('title')：<span th:text = "${#ctx.variables.get('title')}">title</span></li>
		<li>${#ctx.locale.country}：Established locale country: <span th:text="${#ctx.locale.country}">US</span>.</li>
		<li>${#ctx.httpServletRequest.getAttribute('requestStr')}：<span th:text = "${#ctx.httpServletRequest.getAttribute('requestStr')}">title</span></li>

	</ol>

</div>
</body>
</html>