<!--/*-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<!--*/-->
<p><label th:text="${blockName}">xxx</label>管理员你好，</p>
<p>您的注册信息已提交成功，请在2个小时内点击以下链接完善信息并激活账号，同时关注微信公众号回复<a href="#">123456</a>后获取登录密码。
</p>
<img src="../../static/official_accounts.png" height="300" width="300"/>
<p><a href="#" th:href="${activeLink}" th:text="${activeLink}">http://plat.coucang.com/reg/active/adfjldfsajlasdf</a></p>
<!--/*-->
</body>
</html>
<!--*/-->