<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="copyright" content="coucang.com"
	      th:content="#{meta.copyright}">
	<meta name="keywords" content="蒜苔，聚餐，美食，点菜，餐饮服务，扫码点餐，扫码预约，扫码排队，扫码结账"
	      th:content="#{meta.keywords}">
	<meta name="description" content="专注于移动web的智能餐饮服务平台"
	      th:content="#{meta.description}" >
	<meta name="author" content="bao.li.net@hotmail.com"
	      th:content="#{meta.author}" >
	
	<link rel="icon" href="../static/garlic_128px.ico" type="image/x-icon" th:href="@{/garlic_128px.ico}">
	<link rel="stylesheet" href="../static/pure/v1.0/pure-min.css" th:href="@{/pure/v1.0/pure-min.css}">
	
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="../static/pure/v1.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="../static/pure/v1.0/grids-responsive-min.css">
	<!--<![endif]-->
	
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="../static/pure/css/layouts/gallery-old-ie.css" th:href="@{/pure/css/layouts/gallery-old-ie.css}">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="../static/pure/css/layouts/gallery.css" th:href="@{/pure/css/layouts/gallery.css}">
	<!--<![endif]-->
	
	<title th:text="#{title.application}"></title>
</head>
<body>

		<div class="pure-u-1 form-box">
			<div class="l-box">
				<h2>使用手机扫描二维码登录客户版后台</h2>
				<img width="300" alt="微信公众号" class="pure-img-responsive" src="../static/client_qr_login.png" th:attr="src=@{/client_qr_login.png}" />
			</div>
		</div>
		
		<div class="pure-u-1">
			<div class="l-box">
				<h2>客户版分为操作员模式和会员模式</h2>
				
				<p>
					操作员模式是为企业版员工提供业务支持后台，根据入网业务展示相应的功能菜单。
				</p>
				
				<p>
					会员模式是为使用企业服务的个人或法人用户提供后台页面，包括积分，卡包，金融o2o等功能。
				</p>
			</div>
		</div>

</div>


</body>
</html>
