#set($layout="layout/blank.vm")

<!doctype html>
<html>
<head>

	<meta charset="UTF-8">
	<title>智能社区服务平台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="copyright" content="chanjetpay.com"/>
	<meta name="keywords" content=社区，生活，美食，餐饮，扫码，结账，购物，咨询，广告，营销，推广"/>
	<meta name="description" content="专注于移动web的智能餐饮服务平台"/>
	<meta name="author" content="bao.li.net@hotmail.com"/>
	<link type="image/x-icon" href="http://frozenui.github.io/static/favicon.ico" rel="icon">

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="/assets/pure/css/layouts/marketing-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="/assets/pure/css/layouts/marketing.css">
	<!--<![endif]-->

	<link rel="stylesheet" href="/assets/pure/css/carousel.css">
	<link rel="stylesheet" href="/assets/pure/css/tab.css">
	<link rel="stylesheet" href="/assets/pure/css/modal.css">
	<link rel="stylesheet" href="/assets/pure/css/tooltip.css">
	<link rel="stylesheet" href="/assets/pure/css/collapse.css">
</head>
<body>

<div class="carousel">
	<div class="carousel-inner"><input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item"><img src="http://fakeimg.pl/2000x800/222/fff/?text=Very nice :D"></div>
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item"><img src="http://fakeimg.pl/2000x800/070060/fff/?text=Good move!"></div>
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item"><img src="http://fakeimg.pl/2000x800/600000/fff/?text=CSS is Life"></div>
		<label for="carousel-3" class="carousel-control prev control-1">‹</label><label for="carousel-2" class="carousel-control next control-1">›</label><label
				for="carousel-1" class="carousel-control prev control-2">‹</label><label for="carousel-3"
																						 class="carousel-control next control-2">›</label><label
				for="carousel-2" class="carousel-control prev control-3">‹</label><label for="carousel-1" class="carousel-control next control-3">›</label>
		<ol class="carousel-indicators">
			<li><label for="carousel-1" class="carousel-bullet">•</label></li>
			<li><label for="carousel-2" class="carousel-bullet">•</label></li>
			<li><label for="carousel-3" class="carousel-bullet">•</label></li>
		</ol>
	</div>
</div>


<div class="tab">
	<div class="tab-painel"><input class="tab-open" id="tab-1" name="tab-wrap-1" type="radio" checked="checked"><label class="tab-nav" for="tab-1">Tab
		1</label>
		<div class="tab-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi. Lorem ipsum dolor sit amet, consectetur adipisicing
			elit. Atque, commodi.
		</div>
	</div>
	<div class="tab-painel"><input class="tab-open" id="tab-2" name="tab-wrap-1" type="radio"><label class="tab-nav" for="tab-2">Tab 2</label>
		<div class="tab-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi.</div>
	</div>
	<div class="tab-painel"><input class="tab-open" id="tab-3" name="tab-wrap-1" type="radio"><label class="tab-nav" for="tab-3">Tab 3</label>
		<div class="tab-inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi. Lorem ipsum dolor sit amet, consectetur adipisicing
			elit. Atque, commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi.
		</div>
	</div>
</div>

<label class="btn" for="modal-one">Modal!</label>

<div class="modal">
	<input class="modal-open" id="modal-one" type="checkbox" hidden="">
	<div class="modal-wrap" aria-hidden="true" role="dialog"><label class="modal-overlay" for="modal-one"></label>
		<div class="modal-dialog">
			<div class="modal-header"><h2>Modal in CSS?</h2><label class="btn-close" for="modal-one" aria-hidden="true">×</label></div>
			<div class="modal-body">
				<a class="btn btn-primary" for="modal-one" href="javascript:document.getElementById('modal-one').checked=false;">shutdown</a>
				<p>One modal example here! :D</p>

			</div>
		</div>
	</div>
</div>

<div class="example-box">
	<a href="#component-tooltip" role="tooltip" class="tooltip-top btn" aria-label="content displayed over ">Top</a>
	<a href="#component-tooltip" role="tooltip" class="tooltip-right btn" aria-label="content displayed to the right">Right</a>
	<a href="#component-tooltip" role="tooltip" class="tooltip-bottom btn" aria-label="content displayed below ">Bottom</a>
	<a href="#component-tooltip" role="tooltip" class="tooltip-left btn" aria-label="content displayed to the left ">Left</a>
</div>

<div class="collapse">
	<ul class="collapse-list">
		<li><label class="collapse-btn" for="collapse-1">Lorem ipsum dolor sit amet</label>
			<input class="collapse-open" type="checkbox" id="collapse-1" aria-hidden="true" hidden="">
			<div class="collapse-painel">
				<div class="collapse-inner"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p></div>
			</div>
		</li>
		<li><label class="collapse-btn" for="collapse-2">Lorem ipsum dolor sit amet</label><input class="collapse-open" type="checkbox" id="collapse-2"
																								  aria-hidden="true" hidden="">
			<div class="collapse-painel">
				<div class="collapse-inner"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p></div>
			</div>
		</li>
		<li><label class="collapse-btn" for="collapse-3">Lorem ipsum dolor sit amet</label><input class="collapse-open" type="checkbox" id="collapse-3"
																								  aria-hidden="true" hidden="">
			<div class="collapse-painel">
				<div class="collapse-inner"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, non.</p></div>
			</div>
		</li>
	</ul>
</div>

</body>
</html>