<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="copyright" content="chanjetpay.com"/>
	<meta name="keywords" content="蒜苔，聚餐，美食，点菜，餐饮服务，扫码点餐，扫码预约，扫码排队，扫码结账"/>
	<meta name="description" content="专注于移动web的智能餐饮服务平台"/>
	<meta name="author" content="bao.li.net@hotmail.com"/>

	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="bookmark" href="favicon.ico" type="image/x-icon"/>

	<link rel="stylesheet" href="assets/pure/css/v1.0/pure-min.css">

	<link rel="stylesheet" href="assets/pure/css/v1.0/base-min.css">

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="assets/pure/css/v1.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="assets/pure/css/v1.0/grids-responsive-min.css">
	<!--<![endif]-->

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="assets/css/layouts/marketing-old-ie.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="assets/pure/css/layouts/marketing.css">
	<!--<![endif]-->

	<title>${pageTitle}</title>
</head>
<body>
	${screen_content}
</body>
</html>