<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="/assets/js/mui.min.js"></script>
	<link rel="stylesheet" href="/assets/css/mui.min.css">

	<script>
		function show() {

			// set overlay options
			var options = {
				'keyboard': true, // teardown when <esc> key is pressed (default: true)
				'static': false, // maintain overlay when clicked (default: false)
				'onclose': function() {alert(1);} // execute function when overlay is closed
			};
			mui.overlay('on', options, document.getElementById("testdiv"));
		}

	</script>

</head>
<body>


<div class="mui-appbar">
	<table width="100%">
		<tr style="vertical-align:middle;">
			<td class="mui--appbar-height">Left Side</td>
			<td class="mui--appbar-height" align="right">Right Side</td>
		</tr>
	</table>
</div>

<div class="mui-container">
	$screen_context
</div>

</body>
</html>