#set($timestamp = $dateTool.get("yyyyMMddHH"))

<!DOCTYPE html>
<html lang="zh-CN" dir="ltr" data-page="$!{primaryPage}-$!{secondaryPage}">
<head>
	<meta charset="UTF-8">
	<!-- 页面标题 -->
<title>#if($!pageTitle)$!{pageTitle} - #end 后台系统</title>
	<!-- 网站图标 -->
	<link rel="icon" href="/bower_components/handle/dist/images/favicon.png">
	<!-- 全局样式 -->
	<link rel="stylesheet" href="/template/assets/admin/reset.css?t=$!timestamp">
	<!-- 各页面样式 -->
	$!headAssets
	<!-- 全局脚本 -->
	<script src="/template/assets/admin/global.js?t=$!timestamp"></script>
</head>
<body class="Page">
<header class="Page-header Header">
	<div class="Header-brand">
		<a href="/"><img src="/bower_components/handle/dist/images/logo.png" srcset="/bower_components/handle/dist/images/logo-2x.png 2x" alt="卖好车"><span>后台</span></a>
	</div>
	<div class="Header-extra">
		<div class="Header-operations">
			<!-- 页头中的操作 -->
			$!headerActions
			<!-- 新增数据按钮 -->
			#if($!modal)<div class="Header-action Action"><button class="Action-trigger fa fa-plus js-add--header" type="button" data-toggle="modal" data-target=".js-addNewData" title="新增"><span class="sr-only">新增</span></button></div>#end
			<!-- 用户信息 -->
			#if($!user)
				#if($!user.realName.length() > 2)
					#set($startPos = $!user.realName.length() - 2)
					#set($displayName = $!user.realName.substring($startPos, $!user.realName.length()))
				#else
					#set($displayName = $!user.realName)
				#end
				<div class="Header-action Action Action--avatar"><a class="Action-trigger" href="javascript:void(0);"><span>$!displayName</span></a>
					<div class="Action-content Card">
						<div class="Card-content">
							<ul>
								<li>$!user.mobile</li>
								<li>$!user.email</li>
							</ul>
						</div>
						<div class="Card-footer">
							<a href="/logout.htm" class="btn btn-default btn-xs">退出</a>
						</div>
					</div>
				</div>
			#end
		</div>
	</div>
</header>
<main class="Page-content">
	<div class="Page-sidebar Sidebar">
		<nav class="Sidebar-navs Navs">
			<ul>
				...
			</ul>
		</nav>
	</div>
	<div class="Page-main">
		<div class="Content container-fluid">
			<div class="Content-header">
				<!-- 面包屑 -->
				<div class="Breadcrumb"><i class="fa fa-map-marker"></i>$!breadcrumb</div>
				<!-- 页面标题 -->
				<h1>$!pageTitle</h1>
			</div>
			<!-- 页面内容片段 -->
			$screen_content
			<!-- 条件筛选区域 -->
			$!queryArea
			<!-- 数据表格区域 -->
			<div class="Area Area--table">
				#if($!dataTableList)
					$dataTableList
				#else
					<table class="js-showDataTable"></table>
				#end
			</div>
		</div>
		<!-- 新增/修改数据对话框 -->
		$!modal
	</div>
</main>
<!-- 各页面脚本 -->
	$!bodyAssets
</body>
</html>